body {
    display: grid;

    grid-template-areas:
    "header"
    "body"
    "footer";
    grid-gap: 30px;
    font-size: 1.4em;
    margin: 0px;
    background-color:#F8F8F8;
}

/* COLORS:
 * bright green: #5AFF61 
 * minty green: #7FE852
 * yellow green: #CAFF67
 * mustard yellow: #E8E852
 * light yellow: #FFEF5A
 */

.header{
    grid-area: header;
    font-family: 'Anton', sans-serif;
    padding 10px;
    background-color: #CAFF67;
}

.header a{
    color: inherit;
    text-style: none;
}

.body {
    font-family: 'Dosis', sans-serif;
    grid-area: body;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.footer {
    font-family: 'Dosis', sans-serif;
    background-color: #FFEF5A;
    grid-area: footer;
    text-align: center;
    font-size: 1em;
}

.footer a{
    color: #000;
}

.footer .attribution {
    font-size: .8em;
}

.logo_box {
    width: 300px;
    display: block;
    float: left;
}

.logo {
    font-family: 'Anton', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.logo_img {
    display: block;
    width: 54px;
    float: left;
}

.menu {
    font-family: 'Anton', sans-serif;
    height: 100%;
}

.menu ul {
    display: block;
    height: 100%;
    margin-top: 0px;
    margin-bottom: auto;

}

.menu ul li {
    display: block;
    list-style: none;
    float: left;
    background-color: #CAFF67;
    padding: 10px;
    height: 100%;
}


.menu ul li.active {
    background-color: #7FE852;
}


.menu ul li a{
    text-decoration: none;
}

.menu ul li:hover{
    background-color: #FFEF5A;
}

.logo_box:hover{
    background-color: #FFEF5A;
}

.active{
    background-color: #7FE852;
}

.organizer {
    display: grid;
    grid-columns: 1fr;
}

.hidden_link{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.hidden_link a{
    float: left;
    margin-right: 10px;
    color: #000;
}

.hidden_link:hover > div.tooltip {
    float:left;
    display: inherit;
    background-color:#5AFF61;
}

.tooltip{
    display: none;
}

a {
    color: black;
}

.intro {
    font-style: oblique;
    text-align: center;
}

.organized {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width:600px;
    margin-left: auto;
    margin-right:auto;
}

.organized div{
    width=100%;
    padding: 10px;
    text-align: right;
}

.organized input {
    width:100%;
    height: 1.2em;
}

input.submit_button {
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 100%;
    height: 100px;
}

.submit {
    grid-column: span 2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.organized_games {
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-left: auto;
    margin-right:auto;
}

.organized_games .row {
    height: 300px;
    padding: 10px;
}

.organized_games div p {
    font-size: 1.1em;
}

.game_image {
    height: 100%;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}

#collection {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}
